# Database Configuration
DATABASE_URL=

# Streaming Proxies (comma-separated URLs)
PIPED_API_URLS=
INVIDIOUS_API_URLS=

# SponsorBlock API URL
SPONSORBLOCK_API_URL=

# Metadata Providers
DEEZER_BASE=
LYRICS_API_URL=
