# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
dist/

# env
.env
.env*.local

# capacitor
android/
ios/
www/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.idea/
.vscode/
*.tsbuildinfo
next-env.d.ts
